<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>313A91921D38BC6F006D6DAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>313A91AB1D38BC6F006D6DAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>313A91B61D38BC6F006D6DAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
