<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestUITableViewCellforWechat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>310304031D3A763F00FDD365</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3103041C1D3A763F00FDD365</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310304271D3A763F00FDD365</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
