<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestAFNetworking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31E1A9621D7DBB2C00AAD15C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31E1A97B1D7DBB2C00AAD15C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31E1A9861D7DBB2C00AAD15C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
